In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
from pandas import Series, DataFrame
from sklearn.model_selection  import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

In [15]:
df = pd.read_excel("Vendas_22.xlsx")
df.head()

,Cliente,Pedido,Área,Total c/ICMS Subst,Total,Dt Entrada,Dt Conclusão,Dt NotaFiscal,Serviço,Status
0,BAZAR QUITUNGO-2589,1451,24.75,1801.71,2573.87,2022-01-03,2022-01-24 00:00:00,2022-01-26 00:00:00,BOX PADRÃO-ICFL08,Concluído
1,BAZAR QUITUNGO-2589,1454,20.25,1474.23,2106.04,2022-01-03,2022-03-11 00:00:00,2022-03-16 00:00:00,BOX PADRÃO-ICFL08,Concluído
2,BAZAR QUITUNGO-2589,1458,35.10,2555.33,3650.47,2022-01-03,2022-03-10 00:00:00,2022-03-16 00:00:00,BOX PADRÃO-ICFL08,Concluído
3,BAZAR QUITUNGO-2589,1452,4.30,340.11,485.87,2022-01-03,2022-02-09 00:00:00,2022-02-18 00:00:00,JANELA-ICFL08,Concluído
4,BAZAR QUITUNGO-2589,1455,9.60,759.33,1084.76,2022-01-03,2022-02-24 00:00:00,2022-03-07 00:00:00,JANELA-ICFL08,Concluído

In [16]:
#inicio da analise
inicio = pd.to_datetime(df['Dt Entrada']).dt.date.min()
print(inicio)

2022-01-03

In [17]:
#inicio da analise
fim = pd.to_datetime(df['Dt Entrada']).dt.date.max()
print(fim)

2022-11-08

In [18]:
df.dtypes

Cliente                        object
Pedido                         object
Área                          float64
Total c/ICMS Subst            float64
Total                         float64
Dt Entrada             datetime64[ns]
Dt Conclusão                   object
Dt NotaFiscal                  object
Serviço                        object
Status                         object
dtype: object

In [19]:
df.nunique()

Cliente                  268
Pedido                 18545
Área                    2334
Total c/ICMS Subst     15243
Total                  14210
Dt Entrada               213
Dt Conclusão             246
Dt NotaFiscal            213
Serviço                  104
Status                     6
dtype: int64

In [20]:
df.describe()

              Área   Total c/ICMS Subst          Total
count  28118.000000         28118.000000  28118.000000
mean       5.489742           621.971853    793.374579
std       20.748069          1929.649507   2447.704099
min        0.300000             0.000000      0.000000
25%        0.990000           109.217500    144.900000
50%        1.830000           225.775000    296.140000
75%        3.720000           501.710000    630.252500
max      924.750000         73981.500000  92476.880000

In [22]:
# total M² por Cliente
total_m= df [['Cliente', 'Área']].groupby('Cliente').sum()
display(total_m)

KeyError: "['Área'] not in index"