In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
from pandas import Series, DataFrame
from sklearn.model_selection  import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

In [25]:
df = pd.read_excel("Vendas_22.xlsx")
df.head()

,Cliente,Pedido,Área,Total c/ICMS Subst,Total,Dt Entrada,Dt Conclusão,Dt NotaFiscal,Serviço,Status
0,BAZAR QUITUNGO-2589,1451,24.75,1801.71,2573.87,2022-01-03,2022-01-24 00:00:00,2022-01-26 00:00:00,BOX PADRÃO-ICFL08,Concluído
1,BAZAR QUITUNGO-2589,1454,20.25,1474.23,2106.04,2022-01-03,2022-03-11 00:00:00,2022-03-16 00:00:00,BOX PADRÃO-ICFL08,Concluído
2,BAZAR QUITUNGO-2589,1458,35.10,2555.33,3650.47,2022-01-03,2022-03-10 00:00:00,2022-03-16 00:00:00,BOX PADRÃO-ICFL08,Concluído
3,BAZAR QUITUNGO-2589,1452,4.30,340.11,485.87,2022-01-03,2022-02-09 00:00:00,2022-02-18 00:00:00,JANELA-ICFL08,Concluído
4,BAZAR QUITUNGO-2589,1455,9.60,759.33,1084.76,2022-01-03,2022-02-24 00:00:00,2022-03-07 00:00:00,JANELA-ICFL08,Concluído

In [26]:
#inicio da analise
inicio = pd.to_datetime(df['Dt Entrada']).dt.date.min()
print(inicio)

2022-01-03

In [27]:
#inicio da analise
fim = pd.to_datetime(df['Dt Entrada']).dt.date.max()
print(fim)

2022-11-08

In [28]:
df.dtypes

Cliente                        object
Pedido                         object
Área                          float64
Total c/ICMS Subst            float64
Total                         float64
Dt Entrada             datetime64[ns]
Dt Conclusão                   object
Dt NotaFiscal                  object
Serviço                        object
Status                         object
dtype: object

In [29]:
df.nunique()

Cliente                  268
Pedido                 18545
Área                    2334
Total c/ICMS Subst     15243
Total                  14210
Dt Entrada               213
Dt Conclusão             246
Dt NotaFiscal            213
Serviço                  104
Status                     6
dtype: int64

In [30]:
df.describe()

               Área  Total c/ICMS Subst          Total
count  28118.000000         28118.000000  28118.000000
mean       5.489742           621.971853    793.374579
std       20.748069          1929.649507   2447.704099
min        0.300000             0.000000      0.000000
25%        0.990000           109.217500    144.900000
50%        1.830000           225.775000    296.140000
75%        3.720000           501.710000    630.252500
max      924.750000         73981.500000  92476.880000

In [31]:
# total M² por Cliente
total_m= df[['Cliente', 'Área']].groupby('Cliente').sum()
display(total_m)

                         Área
Cliente
 .VIDROSOM.-998         86.30
 3G-9000              1793.84
 A6M ESTRUTURAS-2904    16.98
 ACR MEDEIROS-2747      94.98
 ADSUMUS-2873            5.79
...                       ...
 VITAL GLASS-2879        6.89
 VITEC-2318            205.77
 VIVIDROS-975           17.40
 VLT-1062               28.10
 WAM SOLUÇÕES-2087      19.64

[268 rows x 1 columns]

In [33]:
analise =df.loc[(df.Área >100) ,['Cliente','Área']]
display(analise)

                    Cliente    Área
288     CD CAMPO GRAND-2659  131.45
729             MORAIS-2900  124.47
791     CD CAMPO GRAND-2659  256.50
792     CD CAMPO GRAND-2659  136.90
794     CD CAMPO GRAND-2659  104.71
...                     ...     ...
27407         SIMAS RO-2585  103.09
27409         SIMAS RO-2585  250.20
27414         SIMAS RO-2585  130.73
27437     VIDROS FLASH-2840  147.69
27438     VIDROS FLASH-2840  141.93

[195 rows x 2 columns]

In [34]:
total_clientes = df['Área'].sum()

In [ ]:
analise_2=